<h1>Eat Da Burger</h1>

<img id="burger" src="./assets/img/burger.png" alt="burger">
<br>
<hr>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul>
                {{#each burgers}} {{#unless devoured}} {{>burgers/burgers-block}} {{/unless}} {{/each}}
            </ul>
        </div class="col-md-4">
        <div>
            <ul>
                {{#each burgers}} {{#if devoured}} {{>burgers/burgers-block}} {{/if}} {{/each}}
            </ul>
        </div>
    </div>
</div>

<h2>Add a Burger</h2>
<form class="insert-form">

    <div class="form-group">
        <label for="burgerName">Burger Name: </label>
        <input type="text" id="burgerInput" name="name">
    </div>
    <button type="submit">Add Burger</button>
</form>